:global(.ui.basic.label).toolbarBtn {
  border: none
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.likeWrapper {
  display: flex;
  column-gap: 5px;
  
}